body {
  width: 1100px;
  margin: 0 auto;
  font-family: "Hind Siliguri", sans-serif;
  color: #f8f8ff;
  letter-spacing: 0.6px;
  background: linear-gradient(
    42deg,
    rgba(0, 139, 139, 1) 0%,
    rgba(0, 128, 128, 1) 26%,
    rgba(102, 205, 170, 1) 100%
  );
  background-attachment: fixed;
}

h2 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 60px;
  letter-spacing: 4px;
}

table {
  margin-bottom: 40px;
}

table,
th,
td {
  border-radius: 10px;
}

th {
  background-color: #343a40;
  color: #f78bcf;
  padding: 15px;
}

td {
  background-color: #495057;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #ffb02e;
}

.u-center-text {
  text-align: center;
}
